include ../../_config

doctype html
html(lang="ja")
  head
    include ../../include/_head
    title イラスト実績 架空のゲームのキャラクターデザイン - namikimura
  body
    h1 character design
    div#info
      div.description
        p 制作年: 2023年
        p 架空のゲームのキャラクターデザインを行いました。
        p これまでに制作した楽曲を「架空のゲームのサウンドトラック」としてリリースするにあたり、世界観を明確にするため、楽曲からイメージを膨らませてキャラクターを作りました。
        p 参考リンク:　
          a(href="https://namiki.bandcamp.com/album/original-soundtrack") サウンドトラック視聴サイト
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/tenten/jacket.png", alt="CDジャケット")
          p CDジャケット
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/tenten/booklet.png", alt="CD付属のブックレット")
          p CD付属のブックレットにはキャラクター紹介があります
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/tenten/characters.png", alt="全キャラクター")
          p 全キャラクター


    include ../../include/_footer
