// いいやりかたが見つかってないので、とりあえずローカル開発中のみ
- var ROOT_PATH = 'file:///Users/namiki/Documents/work/namikisite/www';
//- - var ROOT_PATH = '';
-
	var GLOBAL_MENU = {
		ABOUT: ROOT_PATH + 'about/',
		PRODUCT: ROOT_PATH + 'product/',
		NEWS : ROOT_PATH + 'news/',
		CONTACT: ROOT_PATH + 'contact/'
	}
