extends template

block content
  main
    h1 KimuraNami
    div#info
      div.description
        h2 Works
        a(href="works.html#design") グラフィックデザイン
        | /
        a(href="works.html#illustration") イラスト
        | /
        a(href="works.html#other") その他
      div.description
        h2 Profile
        h3 木村奈美 Kimura Nami
        p.
          香川県出身、京都府在住。本業はサーバーの構築・運用を担当するITインフラエンジニア。<br>
          「インターネットが好きだから」という理由で高専に進学したものの伸び悩み、適正のなさを感じながらも惰性でエンジニアになった。その後10年以上経って、自分が好きなのはインターネットを支える技術ではなく、その上に作られるコンテンツだったのだ、と気付きデザイナーを志す。<br>
          しかしこんなWebサイトを自前で作って公開するあたり、なんだかんだ経験を便利に活かしているらしい。
        div
          a(href="https://www.instagram.com/namiki.kiwi/") Instagram
        div
          a(href="https://namiki.bandcamp.com/") 音楽作品（更新停滞中）
      div.description
        h2 Contact
        a(href="https://forms.gle/Z9TyQtpeVMcctu9j6") お問い合わせフォーム
