extends template

block content
  main
    h1 Works
    div#info
      div.description
        h2 Works
        h3 グラフィックデザイン
        ul
          li 名刺
          li ポスター
          li アイコン
        h3 イラスト
        ul
          li 架空のゲームのキャラクターデザイン
          li なにか
          li なにか
        h3 その他
        ul
          li Webサイト制作（デザイン、実装、サーバー構築）
          li Live2Dアバター制作（キャラクターデザイン、イラスト、アバター実装）
          li なにか
