extends template

block content
  main
    h1 works
    div#info
      div.description
        h2#design graphic design
        ul.works
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p 名刺
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p ポスター
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p アイコン
        h2#illustration illustration
        ul.works
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p 架空のゲームのキャラクターデザイン
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p なにか
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p なにか
        h2#other other
        ul.works
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p Webサイト制作（デザイン、実装、サーバー構築）
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p Live2Dアバター制作（キャラクターデザイン、イラスト、アバター実装）
          li
            img(src="../img/works/thumb/logo.png", alt="作品名")
            p なにか
