extends template

block content
  main
    h1 works
    div#info
      div.description
        h2 graphic design
        ul
          li 名刺
          li ポスター
          li アイコン
        h2 illust
        ul
          li 架空のゲームのキャラクターデザイン
          li なにか
          li なにか
        h2 other
        ul
          li Webサイト制作（デザイン、実装、サーバー構築）
          li Live2Dアバター制作（キャラクターデザイン、イラスト、アバター実装）
          li なにか
