doctype html
html(lang="ja")
  head
    include ./include/_head
    title works - namikimura
  body
    h1 works
    div#info
      div.description
        h2#design graphic design
        ul.works
          li
            a(href="works/design/namiki-namecard.html")
              img(src="../img/works/design/namiki-namecard/thumb.jpg", alt="名刺")
            p 名刺
          li
            a(href="works/design/keion-poster.html")
              img(src="../img/works/design/keion-poster/thumb.png", alt="ポスター")
            p ポスター
          li
            a(href="works/design/namiki-icon.html")
              img(src="../img/works/design/namiki-icon/thumb.png", alt="アイコン")
            p アイコン
        h2#illustration illustration
        ul.works
          li
            a(href="works/illust/tenten.html")
              img(src="../img/works/illust/tenten/thumb.png", alt="架空のゲームのキャラクターデザイン")
            p 架空のゲームの<br>キャラクターデザイン
          li
            a(href="works/illust/kiwi.html")
              img(src="../img/works/illust/kiwi/thumb.jpg", alt="自主制作 キウイ")
            p 自主制作<br>キウイ
          li
            a(href="works/illust/tenten.html")
              img(src="../img/works/illust/tenten/thumb.png", alt="自主制作 デフォルメ人間")
            p 自主制作<br>デフォルメ人間
        h2#other other
        ul.works
          li
            a(href="works/design/namiki-icon.html")
              img(src="../img/works/other/live2d/thumb.png", alt="作品名")
            p Webサイト制作
          li
            a(href="works/design/namiki-icon.html")
              img(src="../img/works/other/live2d/thumb.png", alt="作品名")
            p Live2Dアバター制作
          li
            a(href="works/design/namiki-icon.html")
              img(src="../img/works/other/live2d/thumb.png", alt="作品名")
            p なにか

    include ./include/_footer
