include ../../_config

doctype html
html(lang="ja")
  head
    include ../../include/_head
    title デザイン実績 軽音部ポスター - namikimura
  body
    h1 poster
    div#info
      div.description
        p 制作年: 2024年
        p 母校の軽音部のポスターを制作しました。かっこいいイメージにしたいとのリクエストを受け、写真素材を引き立てるよう過度な装飾は控え赤と青で勢いを表現しました。
        div.detail
          img(src=ROOT_PATH+"/img/works/design/keion-poster/1.png", alt="全体像")
          p 全体像

    include ../../include/_footer
