include ../../_config

doctype html
html(lang="ja")
  head
    include ../../include/_head
    title namikimura
  body
    h1 icon
    div#info
      div.description
        p 制作年: 2023年
        p 作曲活動用のアイコンをデザインしました。音楽のノコギリ波をモチーフにしつつ、アーティスト名をアルファベット表記した「NAMIKI」が組み込まれるようにしました。
        div.detail
          img(src=ROOT_PATH+"/img/works/design/namiki-icon/1.png", alt="アイコン")
          p アイコン
        div.detail
          img(src=ROOT_PATH+"/img/works/design/namiki-icon/2.jpg", alt="使用例")
          p 使用例

    include ../../include/_footer
