//- p &copy; 2025 namikimura. All rights reserved.
include ../_config

footer
  img.eyecon(src=ROOT_PATH+"/img/eyes.png")
script(type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.slim.min.js")
script(type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.5.0.min.js")
script(type="text/javascript" src=ROOT_PATH+"/slick/slick.min.js")
script(type="text/javascript" src=ROOT_PATH+"/js/face.js")
